footer{
    background-color: #D1C4E9;
    padding-top: 2rem;
    margin-top: 5rem
}

header{
   
    color: floralwhite;
    
}

.navbar{
    background-color: #5133a5;

}

.jumbotron{
    background-color: #9575CD;
}